html {
	font-family: Tahoma, sans-serif;
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 10px;
}
/*--------------------------------*/
.card-form {
	width: 480px;
	background: #b4edff;
	border-radius: 3px;
	padding: 9px;
	margin: 18px auto;
	box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.342);
	position: relative;
}
.name {
	display: inline-block;
	line-height: 22px;
	font-weight: 700;
	letter-spacing: 2px;
}
.email {
	line-height: 22px;
}
.email a {
	font-size: 14px;
	font-weight: 400;
	color: #777;
	text-decoration: underline;
}
.post-delete-button {
	font-size: 14px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: #fff;
	color: #333;
	position: absolute;
	top: 9px;
	right: 9px;
}
.post-title {
	margin: 10px 0;
}
.post-text {
	border-top: solid 2px #fff;
	margin: 10px 0 0;
	padding-top: 7px;
}
.entry{
	font-size: 14px;
	padding-right: 9px;
	color: #333;
}